layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane command="fish" close_on_exit=true {
        args "-c" "hx $HX_ARGS"
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}

