workspace "mainWorkspace"
workspace "browser"
workspace "ytmusic"
environment {
    DISPLAY ":0"
 // SSH_AUTH_SOCK "/run/user/1000/gcr/ssh"
}
input {
    disable-power-key-handling
    keyboard {
        repeat-delay 240
        repeat-rate 50
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        dwt
        drag-lock
        accel-speed 0.2
        scroll-method "two-finger"
        tap-button-map "left-right-middle"
        scroll-factor 1
    }
    mouse {
        // natural-scroll
        accel-speed 0.2
    }
    trackpoint {

    }
    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="10%"
 // workspace-auto-back-and-forth
}
layer-rule {
    match namespace="swww-daemon"
 // place-within-backdrop true
}
output "eDP-1" {
    // off
    mode "1920x1200"
    scale 1.0
    transform "normal"
    background-color "#191d24"
 // position x=0 y=0
}
layout {
    gaps 0
    center-focused-column "never"
    always-center-single-column
    default-column-display "tabbed"
    // empty-workspace-above-first
    // background-color "#191d24"
    background-color "transparent"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.9
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    // default-column-width {}
    focus-ring {
        off
        width 2
        active-color "#81a1c1"
        inactive-color "#3b4252"
        active-gradient from="#3b4252ff" to="#81a1c1" angle=20 in="srgb" relative-to="workspace-view"
    }
    border {
        off
        width 2
        active-color "#81a1c1"
        inactive-color "#3b4252"
    }
    tab-indicator {
        hide-when-single-tab
        width 3
        gap -2
        length total-proportion=0.999
        corner-radius 0
        position "left"
        // gaps-between-tabs 128
        active-color "#a3be8c"
        inactive-color "#2e3440"
    }
    shadow {
        // on
        softness 0
        spread 0
        offset x=0 y=0
        color "#81a1c2"
    }
    insert-hint {
        // off
        color "#8fbcbb"
        gradient from="#5e81acc0" to="#81a1c1d0" angle=45 relative-to="workspace-view"
    }
    struts {
 // left 1
        // right 1
 // top 32
        // bottom 64

    }
}
overview {
    zoom 0.3
    backdrop-color "#2e3440"
    workspace-shadow {
        off
    }
}
// spawn-at-startup "clipse" "-listen"
// spawn-at-startup "foot" "server"
// spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
// spawn-sh-at-startup "nfsm"
// spawn-at-startup "kdeconnectd"
// spawn-at-startup "kdeconnect-indicator"
// spawn-at-startup "waybar"
// spawn-at-startup "dunst"
//spawn-at-startup "syncthing" "serve"
// spawn-at-startup "swww-daemon"
spawn-at-startup "~/.config/niri/autostart.sh"
// spawn-at-startup "sleep" "1" "&&" "exec" "swww" "restore"
// spawn-at-startup "~/.config/hypr/scripts/initwallpaper.sh"
// spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
// spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_TYPE" "NIRI_SOCKET"
// spawn-at-startup "zen"
// spawn-at-startup "brave" "--app=https://music.youtube.com"
// spawn-at-startup "wlsunset" "-l" "10.77" "-L" "76.22"
// spawn-at-startup "xwayland-satellite"
prefer-no-csd
screenshot-path "~/Downloads/screenshots/ from %Y-%m-%d %H-%M-%S.png"
cursor {
    xcursor-theme "oreo_nord_cursors"
    xcursor-size 10
    hide-when-typing
 // hide-after-inactive-ms 3000
}
hotkey-overlay {
    skip-at-startup
}
layer-rule {
    match namespace="^swww-daemon$"
 // place-within-backdrop true
}
layer-rule {
    match namespace="waybar"
    match at-startup=true
    // opacity 1
    shadow {
        // on
        // off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
 // inactive-color "#00000064"
    }
 // place-within-backdrop true
    // baba-is-float true
}
gestures {
    hot-corners {
        off
    }
}
animations {
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5
}
window-rule {
    match app-id="^floatingfoot$"
    open-floating true
    default-column-width {
        fixed 784
    }
    default-window-height {
        fixed 464
    }
}
window-rule {
    match at-startup=true app-id="^.*music.youtube.*$"
    open-maximized true
    open-on-workspace "ytmusic"
}
window-rule {
    match app-id="^org\\.kde\\.kdeconnect\\.daemon$"
    open-floating true
    default-floating-position x=600 y=0 relative-to="top-left"
}
window-rule {
    match title="fzf-picker"
    open-floating true
    default-column-width {
        fixed 600
    }
    default-window-height {
        fixed 600
    }
}
window-rule {
    // match app-id=r#"^yazi$"#
    match title=".*md$"
 // open-floating true
    // default-column-width { fixed 1016; }
    // default-window-height { fixed 659; }
}
window-rule {
    match title="^.*(qView).*$"
    open-floating true
    default-column-width {
        fixed 700
    }
    default-window-height {
        fixed 438
    }
}
window-rule {
    match at-startup=true app-id="zen-beta$"
    open-on-workspace "browser"
    open-maximized true
    draw-border-with-background false
}
window-rule {
    match app-id="^clipse$"
    match app-id="^selectwebsite$"
    open-floating true
    default-column-width {
        fixed 622
    }
    default-window-height {
        fixed 652
    }
}
window-rule {
    match app-id="^fum$"
    default-floating-position x=600 y=0 relative-to="top-left"
    open-floating true
    border {
        off
    }
    baba-is-float true
    focus-ring {
        off
    }
    shadow {
        off
    }
    open-focused false
    default-column-width {
        fixed 420
    }
    default-window-height {
        fixed 260
    }
}
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^org\\.gnome\\.World\\.Secrets$"
    block-out-from "screen-capture"
}
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^org\\.gnome\\.World\\.Secrets$"
    block-out-from "screen-capture"
}
window-rule {
    match app-id="^org\\.gnome\\.Nautilus$" title="^.*(wants to open).*$"
    default-column-width {
        proportion 0.33333
    }
    default-window-height {
        proportion 0.66667
    }
    default-floating-position x=0 y=0 relative-to="top-right"
}
window-rule {
    match is-floating=true
    shadow {
        on
    }
}
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
switch-events {
    lid-close {
        spawn "hyprlock"
    }
}
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    // touchpadscroll
    Mod+Alt+TouchpadScrollUp {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"
    }
    Mod+Alt+TouchpadScrollDown {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"
    }
    Mod+TouchpadScrollLeft {
        focus-column-left
    }
    Mod+TouchpadScrollRight {
        focus-column-right
    }
    Mod+TouchpadScrollUp cooldown-ms=200 {
        focus-workspace-up
    }
    Mod+TouchpadScrollDown cooldown-ms=200 {
        focus-workspace-down
    }
    // volume and brightness
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioPause allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "~/.config/hypr/scripts/brightness.sh" "up"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "~/.config/hypr/scripts/brightness.sh" "down"
    }
    // playerctl
    Mod+Alt+space repeat=false {
        spawn "~/.config/hypr/scripts/playerctl-play-pause.sh"
    }
    Mod+Alt+slash repeat=false {
        spawn "playerctld" "shift"
    }
    Mod+Alt+period repeat=false {
        spawn "playerctl" "next"
    }
    Mod+Alt+comma repeat=false {
        spawn "playerctl" "previous"
    }
    // wallpaper
    Mod+U repeat=false {
        spawn "~/.config/hypr/scripts/wallpaper.sh"
    }
    Mod+Control+U repeat=false {
        spawn "~/.config/hypr/scripts/live-wallpaper.sh"
    }
    // close active
    Mod+Ctrl+W repeat=false {
        spawn "sh" "-c" "niri msg action close-window && ~/.config/hypr/scripts/wallpaper.sh"
    }
    Mod+W repeat=false {
        close-window
    }
    // terminal
    Mod+Q {
        spawn "foot"
    }
    Mod+Return repeat=false {
        spawn "foot" "-a" "floatingfoot"
    }
    Mod+Alt+Return repeat=false {
        spawn "kitty"
    }
    // notification
    Mod+C repeat=false {
        spawn "dunstctl" "close"
    }
    Mod+Shift+C repeat=false {
        spawn "dunstctl" "set-paused" "toggle"
    }
    // bluetooth connection
    Mod+Alt+b repeat=false {
        spawn "bluetoothctl" "connect" "68:4A:E9:01:FC:C4"
    }
    // night light
    Mod+Alt+E repeat=false {
        spawn "sh" "-c" "pkill wlsunset || wlsunset -l 10.77 -L 76.22"
    }
    // apps
    Mod+space repeat=false {
        spawn "fuzzel"
    }
    Mod+F2 {
        spawn "hyprlock"
    }
    Mod+E repeat=false {
        spawn "kitty" "--class" "yazi" "-e" "yazi"
    }
    Mod+Control+E repeat=false {
        spawn "foot" "-a" "floatingfoot" "-e" "yazi"
    }
    Mod+V repeat=false {
        spawn "kitty" "--class" "clipse" "-e" "clipse"
    }
    Mod+Control+space repeat=false {
        spawn "sh" "-c" "pkill fum || kitty --class fum -e 'fum'"
    }
    // screenshot
    Mod+XF86Favorites {
        screenshot-screen
    }
    Mod+Control+XF86Favorites {
        screenshot
    }
    Mod+Shift+XF86Favorites {
        screenshot-window
    }
    Mod+Alt+XF86Favorites {
        spawn "sh" "-c" "pkill wf-recorder || wf-recorder \\\n        --geometry \"$(slurp)\" \\\n        -f ~/Downloads/screenshots/record_$(date +%Y%m%d_%H%M%S)_wf.mkv"
    }
    XF86Favorites repeat=false {
        spawn "~/.config/hypr/scripts/screenshot.sh" "region" "--clipboard-only"
    }
    // Mod+Shift+p repeat=false { spawn "~/.config/hypr/scripts/screenshot.sh" "window"; }
    // Mod+Control+p repeat=false { spawn "~/.config/hypr/scripts/screenshot.sh" "region"; }
    Mod+B repeat=false {
        spawn "zen"
    }
    // Mod+Alt+b repeat=false { focus-workspace "browser"; }
    Mod+Control+B repeat=false {
        spawn "./Dev/history-website-appmode/target/release/history-website-appmode"
    }
    Mod+Control+Shift+B repeat=false {
        spawn "./Dev/history-website-appmode/target/release/history-website-appmode" "-i"
    }
    Mod+Alt+Y repeat=false {
        spawn "brave" "--app=https://music.youtube.com"
    }
    Mod+g repeat=false {
        spawn "brave" "--app=https://aistudio.google.com"
    }
    Mod+Control+f repeat=false {
        spawn "~/.config/hypr/scripts/kde-fileshare.sh"
    }
    Mod+Control+c repeat=false {
        spawn "~/.config/hypr/scripts/copy-file.sh"
    }
    Mod+Control+Shift+c repeat=false {
        spawn "~/.config/hypr/scripts/rip-drag.sh"
    }
    Mod+z repeat=false {
        spawn "foot" "nvim"
    }
    Mod+x repeat=false {
        spawn "sh" "-c" "foot -T md ~/.config/hypr/scripts/mdToday.sh"
    }
    Mod+Control+X repeat=false {
        spawn "sh" "-c" "foot -T md  ~/.config/hypr/scripts/todolist.sh"
    }
    Mod+Alt+c repeat=false {
        spawn "hyprpicker" "-a"
    }
    Mod+Y repeat=false {
        focus-workspace "ytmusic"
    }
    Mod+grave repeat=false {
        toggle-overview
    }
    Alt+Space repeat=false {
        toggle-overview
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Ctrl+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Ctrl+L {
        move-column-right
    }
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }
    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    Mod+N {
        focus-workspace-down
    }
    Mod+P {
        focus-workspace-up
    }
    Mod+Control+N {
        move-workspace-down
    }
    Mod+Control+P {
        move-workspace-up
    }
    Mod+Shift+N {
        move-column-to-workspace-down
    }
    Mod+Shift+P {
        move-column-to-workspace-up
    }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+Ctrl+Shift+WheelScrollDown {
        move-column-right
    }
    Mod+Ctrl+Shift+WheelScrollUp {
        move-column-left
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Ctrl+1 {
        move-column-to-workspace 1
    }
    Mod+Ctrl+2 {
        move-column-to-workspace 2
    }
    Mod+Ctrl+3 {
        move-column-to-workspace 3
    }
    Mod+Ctrl+4 {
        move-column-to-workspace 4
    }
    Mod+Ctrl+5 {
        move-column-to-workspace 5
    }
    Mod+Ctrl+6 {
        move-column-to-workspace 6
    }
    Mod+Ctrl+7 {
        move-column-to-workspace 7
    }
    Mod+Ctrl+8 {
        move-column-to-workspace 8
    }
    Mod+Ctrl+9 {
        move-column-to-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-index 1
    }
    Mod+Shift+2 {
        move-column-to-index 2
    }
    Mod+Shift+3 {
        move-column-to-index 3
    }
    Mod+Shift+4 {
        move-column-to-index 4
    }
    Mod+Shift+5 {
        move-column-to-index 5
    }
    Mod+Shift+6 {
        move-column-to-index 6
    }
    Mod+Shift+7 {
        move-column-to-index 7
    }
    Mod+Shift+8 {
        move-column-to-index 8
    }
    Mod+Shift+9 {
        move-column-to-index 9
    }
    Mod+Alt+1 {
        focus-column 1
    }
    Mod+Alt+2 {
        focus-column 2
    }
    Mod+Alt+3 {
        focus-column 3
    }
    Mod+Alt+4 {
        focus-column 4
    }
    Mod+Alt+5 {
        focus-column 5
    }
    Mod+Alt+6 {
        focus-column 6
    }
    Mod+Alt+7 {
        focus-column 7
    }
    Mod+Alt+8 {
        focus-column 8
    }
    Mod+Alt+9 {
        focus-column 9
    }
    Mod+Shift+I {
        focus-column-first
    }
    Mod+Shift+A {
        focus-column-last
    }
    Mod+Control+Shift+I {
        move-column-to-first
    }
    Mod+Control+Shift+A {
        move-column-to-last
    }
    Mod+Tab {
        focus-window-previous
    }
    Mod+Shift+Tab {
        focus-workspace-previous
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Shift+Q {
        set-column-width "33%"
    }
    Mod+Shift+W {
        set-column-width "50%"
    }
    Mod+Control+R {
        reset-window-height
    }
    Mod+Shift+E {
        set-column-width "66%"
    }
    Mod+D {
        maximize-column
    }
    Mod+F {
        spawn "nfsm-cli"
    }
    Mod+Shift+F {
        toggle-windowed-fullscreen
    }
    Mod+Control+D {
        expand-column-to-available-width
    }
    Mod+Minus {
        set-column-width "-4%"
    }
    Mod+Equal {
        set-column-width "+4%"
    }
    Mod+Shift+Minus {
        set-window-height "-4%"
    }
    Mod+Shift+Equal {
        set-window-height "+4%"
    }
    Mod+A {
        toggle-window-floating
    }
    Mod+Control+Tab {
        switch-focus-between-floating-and-tiling
    }
    Mod+T {
        toggle-column-tabbed-display
    }
    // Mod+Shift+Space { switch-layout "prev"; }
    Print {
        screenshot show-pointer=false
    }
    Ctrl+Print {
        screenshot-screen show-pointer=false
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    // Mod+Shift+E { quit; }
    Ctrl+Alt+Delete {
        quit
    }
    Mod+F3 {
        power-off-monitors
    }
}

